body
{
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-size: cover;
}
header
{
    border: 1px outset;
    text-align: center;
    background-color: #153e52;
    color: #fff;
    box-shadow: 5px 1px 20px #000000;
    padding: 2%;
    font-weight: 100;
}
.login
{
    /* background-image: url("../images/b2.jpg"); */
    background-image: url("../images/about.jpg");
    background-position: center;
    background-size: cover;
}
form
{
    margin: 0% 60% 0% 1%;
    padding: 20px 1px;
    border-style: outset;
    border-width: 1px 1px;
    box-shadow: 5px 5px 20px #000000;
    border-radius: 50px;
    font-weight: lighter;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    /* opacity: 0.5; */
}
.button:hover
{
    background-color: #000000;
    color: #fff;
}
span
{
    background-color: #fff;
    box-shadow: 5px 1px 20px #000000;
    font-size: larger;
    border-radius: 50px;
    padding: 1% 5%;
    position: absolute;
    top: 40%;
    left: 60%;

}
input
{
    padding: 5px;
    width: 41%;
    font-size: larger;
    text-align: center;
    border-radius: 5px;
    margin: 2%;
    border: 1px solid #000000;
    /* box-shadow: 5px 5px 20px #000000; */
    /* background-color: #fff; */
    /* color: #000000; */
    /* opacity: 1; */
}
.footer-dark 
{
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }